<a href="https://colab.research.google.com/github/thurpatisrihari/Python-Lab/blob/main/2205A21033_A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
 Qualification=['srihari', 'B.Tech', 2026, 'Μ.Ε.', 2028]

Experience=['SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']
CA=Qualification + Experience

print("Qualification=", Qualification)

print("Experience", Experience)

print("CA", CA)

Qualification= ['srihari', 'B.Tech', 2026, 'Μ.Ε.', 2028]
Experience ['SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']
CA ['srihari', 'B.Tech', 2026, 'Μ.Ε.', 2028, 'SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']

In [ ]:
Qualification=['srihari', 'B.Tech', 2006, 'Μ.Ε.', 2011]
print(Qualification)
print(Qualification[0])

print(Qualification[1:])

print(Qualification[1:5])

print (Qualification *2)

print(Qualification[::-1])

['srihari', 'B.Tech', 2006, 'Μ.Ε.', 2011]
srihari
['B.Tech', 2006, 'Μ.Ε.', 2011]
['B.Tech', 2006, 'Μ.Ε.', 2011]
['srihari', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'srihari', 'B.Tech', 2006, 'Μ.Ε.', 2011]
[2011, 'Μ.Ε.', 2006, 'B.Tech', 'srihari']

In [ ]:
list=['venkat', '1985']
print('Venkat birth year', list[1])
list[0]='dev'
list[1]=2017
print('dev birth year', list[1])

Venkat birth year 1985
dev birth year 2017

In [ ]:
list=['venkat', '1985']
print(list)
del list[1]
print(list)

['venkat', '1985']
['venkat']

In [ ]:
Name=['Ramana', 'Thanmai', 'Dev']
DOB=[1985, 2014,2017]
print("Number of peoples", len(Name))
print('==========' )
Details=Name+DOB
print('Biodata', Details)
print('==========' )
Repetition=Name *2
print('Repetition', Repetition)
print('========')
for x in Name:
   print(x)
print('=========')

Number of peoples 3
==========
Biodata ['Ramana', 'Thanmai', 'Dev', 1985, 2014, 2017]
==========
Repetition ['Ramana', 'Thanmai', 'Dev', 'Ramana', 'Thanmai', 'Dev']
========
Ramana
Thanmai
Dev
=========

In [ ]:
Name=['Ramana', 'Thanmai', 'Dev']
DOB=[1985,2014,2017]
print("Name with maximum charecters", max(Name))
print("Younger person DOB", max(DOB))
print("Name with minimum charecters", min (Name))
print("Older person DOB", min(DOB))

Name with maximum charecters Thanmai
Younger person DOB 2017
Name with minimum charecters Dev
Older person DOB 1985

In [ ]:
Students=['ram', 'venkat']
print (Students)
Students.append('Dev')
print (Students)

['ram', 'venkat']
['ram', 'venkat', 'Dev']

In [ ]:
Grade=['A', 'A', 'B', 'C', 'A']
print("How many peoples got A grade", Grade.count('A'))

How many peoples got A grade 3

In [ ]:
Family=['Venkat', 'Swetha']
print('Family members', Family)
atuple=('Dev', 'Thanmai')
Family.extend(atuple)
print('Family members', Family)

Family members ['Venkat', 'Swetha']
Family members ['Venkat', 'Swetha', 'Dev', 'Thanmai']

In [ ]:
Grade=['A', 'A', 'B', 'C', 'A']
print('lower index for grade B',Grade.index('B'))

lower index for grade B 2

In [ ]:
Family=['Ramana', "Swetha", "Thanmai", 'Dev']
print('Family members', Family)
Family.remove("Ramana")
print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Swetha', 'Thanmai', 'Dev']

In [ ]:
Family =['Ramana', "Swetha", "Thanmai", "Dev"]
print('Family members', Family)
Family.reverse()
print("Family members", Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Dev', 'Thanmai', 'Swetha', 'Ramana']

In [ ]:
Name =["Ramana", "Thanmal", 'Dev']
print("Family members", Name)
Name.insert(1, "Swetha")
print("Family members", Name)

Family members ['Ramana', 'Thanmal', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmal', 'Dev']

In [ ]:
Name =["Ramana", "Thanmal", 'Dev']
print("Family members", Name)
Name.insert(1, "Swetha")
print("Family members", Name)

Family members ['Ramana', 'Thanmal', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmal', 'Dev']

In [ ]:
Family=['Ramana', "Swetha", "Thanmai", 'Dev']
print('Family members', Family)
Family.pop()
print('Family members', Family)
Family.pop(2)
print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmai']
Family members ['Ramana', 'Swetha']

In [1]:
tuple=("venkat", 'B.Tech', 2006)
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('venkat', 'B.Tech', 2006)
venkat
('venkat', 'B.Tech')
('venkat', 'B.Tech', 2006)
(2006, 'B.Tech', 'venkat')
(2006, 'B.Tech')

In [3]:
tiny={'Name': 'Venkat', 'Marks':891}
print(tiny)
print(tiny['Name'])
print(tiny['Marks'])
tiny['Name']='ramana'
print(tiny)
print(tiny['Marks'])
tiny['Name']='ramana'
print(tiny)

{'Name': 'Venkat', 'Marks': 891}
Venkat
891
{'Name': 'ramana', 'Marks': 891}
891
{'Name': 'ramana', 'Marks': 891}

In [4]:
thisset = {"apple", "banana", "cherry"}
tropical ={"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'banana', 'pineapple', 'cherry', 'mango', 'apple'}

In [5]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
 print(x)

banana
apple
cherry

In [7]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
mylist_2=(2,3)
mylist_3={"Name":"Venkat", "School": "SRU"}
thisset.update(mylist)
thisset.update(mylist_2)
thisset.update(mylist_3)
print(thisset)

{2, 'orange', 3, 'School', 'kiwi', 'Name', 'banana', 'cherry', 'apple'}